.about {
    padding: 30px;
}
.about img {
    height: 150px;
    border-radius: 50%;
    border: 3px solid #e1b12c;
    display: block;
    margin: auto;
}
.about p {
    text-align: justify;
    margin-top: 30px;
}
.about button {
    display: block;
    margin: auto;
}
.about button a {
    text-decoration: none;
}