
.header_main {
    margin-top: 30px;
}
.profile_photo img {
    width: 400px;
}
.welcome {
    display: flex;
    align-items: center;
}
.welcome h3 {
    text-transform: uppercase;
}
.welcome h1 {
    font-size: 3rem;
}
.welcome button {
    margin-top: 30px;
}
.welcome button a {
    text-decoration: none;
}
.profile_photo {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .welcome {
      margin-bottom: 40px;
    }
    .welcome h3 {
        font-size: 1.5rem;
    }
    .welcome h1 {
        font-size: 2.5rem;
    }
    .welcome button {
        margin-top: 20px;
    }
  }