*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom_btn {
    background-image: linear-gradient(90deg, #17223f, #444d68);
    color: #e1b12c;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #e1b12c;
    outline: none;
    transition: .3s ease-in-out;
    text-transform: uppercase;
}
.custom_btn:hover {
  background-image: linear-gradient(90deg, #444d68, #17223f);
}
.custom_btn a {
  color: #e1b12c;
  transition: .3s ease-in-out;
}
.custom_btn a:hover {
  color: #e5ce8f;
}